.edit_icon {
    position: absolute;
    top: 10px;
    right: 42px;
    transition: var(--w_transition-4);
    overflow: hidden;
}

button[class="edit_icon"] {
    border: none;
    background: transparent;
}

.edit_icon svg {
    height: 1.9rem;
    width: 1.9rem;
    border-radius: 0.4rem;
}

.edit_icon svg path {
    fill: var(--w_black-light);
}

.edit_icon svg:hover {
    background: var(--w_ocean);
    transform: var(--w_transform-scale-5);
}

.edit_icon svg:hover path {
    fill: var(--w_white);
}