.not_found {
  
    width: 100vw;
    height: 100vh;
    background-image: url("/images/error/404.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.not_found h1 {
    position: fixed;
    width: inherit;
    text-align: center;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Fredoka', sans-serif;
    font-size: 2em;

}

.not_found h1 span {
    font-size: 0.5em;
    color: var(--w_black-light);
}
