
.modal_body {
    overflow-y: auto; 
    max-height: 72vh;
}

form .input_unit {
    text-align: start;

}

form .field_label {
    font-family: 'Poppins', serif;
}

.modal_body form small {
    font-family: 'Fredoka', sans-serif;
    padding: 4px 4px;
    font-size: 0.9rem;
    color: var(--w_white-fog);
    letter-spacing: 0.025em;
}

#newTreatmentModal::-webkit-scrollbar {
    display: none;
}