<footer xmlns:th="http://www.thymeleaf.org"
        id="footer"
        class="bg-dark">


    <div class="footer_container">
        <a href="/" class="first_column">
            <img src="/images/main/logo_footer.svg" alt="">
        </a>
        <div class="second_column">
            <h5 class="text-uppercase mb-4 text-light">Assistance</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="/policies">Terms And Conditions</a>
                </li>
                <li>
                    <a href="/policies/shipping">Shipping Information</a>
                </li>
                <li>
                    <a href="/policies/returnsAndExchanges">Returns & Exchanges</a>
                </li>
                <li>
                    <a href="/policies/payments">Payments Information</a>
                </li>
            </ul>
        </div>
        <div class="third_column">
            <h5 class="text-uppercase mb-4 text-light">Careers</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#" class="text-white">Jobs</a>
                </li>
            </ul>
        </div>
        <div class="fourth_column">
            <form th:action="@{/newsletter}"
                  th:method="post"
                  th:object="${newsletterDto}"
                  class="form-outline form-white mb-4">
                <h5 class="text-uppercase mb-4 text-light">Newsletter</h5>

                <input type="email"
                       name="newsletterEmail"
                       th:field="*{newsletterEmail}"
                       placeholder="email"
                       class="form-control"
                       th:errorclass="is-invalid"
                       aria-describedby="newsletterHelp">


                <div class="d-flex flex-column justify-content-center align-items-start invalid-feedback"
                     style="gap: 0.3em">


                    <div th:if="${#fields.hasErrors('newsletterEmail')}">
                        <small class="d-block bg-danger text-light rounded mt-1"
                               th:text=" ${#fields.errors('newsletterEmail').getFirst()}">
                        </small>
                    </div>
                    <div th:if="${successNewsletter != null}">
                        <small class="d-block bg-success text-light rounded mt-1"
                               th:text="${successNewsletter}"></small>
                    </div>
                    <div class="d-flex align-items-center">
                        <button th:type="submit" th:name="submit" th:value="true"
                                class="btn btn-outline-white btn-info">Subscribe
                        </button>
                        <small id="newsletterHelp" class="d-inline-block footer_fun_text form-text text-light">Who signs
                            for newsletters these days,
                            anyway?</small>

                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>

</footer>