<section class=" hero_section">


    <div class="hero_text p-4 d-flex flex-column align-items-center justify-content-center">
        <h1 class="hero_title">Let us <span>take care</span> of your smile</h1>
        <div class="mt-1 mb-3" style="text-align: center">
            Our dedicated team is committed to providing you with the utmost <br> care and attention.
        </div>
        <button class="btn btn-lg btn-primary">Learn more</button>
    </div>
    <div class="hero_image">
        <img class="" th:src="@{images/main/heroImg.svg}" alt="" style="max-height: 70vh">
    </div>
    
</section>