<section class="policy_section" xmlns:th="http://www.thymeleaf.org">
    <h2>Returns & Exchanges <span>Information</span> </h2>
    <div class="subtitle">Hassle-Free Returns and Easy Exchanges</div>

    <div class="policy_unit">
        <h3 class="text-muted">Return Policy</h3>
        <div class="row_unit"><span class="text_semibold">Time Frame:</span> You may return items within 30 days of delivery for a full refund or exchange.<br></div>
        <div class="row_unit"><span class="text_semibold">Condition:</span> Items must be unused, in the same condition as received, and in the original packaging.<br></div>
        <div class="row_unit"><span class="text_semibold">Exceptions:</span> Some items, such as personalized or custom-made products, may not be eligible for return. Please check the product description for details.<br></div>

        <h3 class="text-muted">Exchange Process</h3>
        <div class="row_unit"><span class="text_semibold">How to Exchange:</span> To exchange an item, simply contact our customer service team to initiate the exchange process.<br></div>
        <div class="row_unit"><span class="text_semibold">Exchange Options:</span> You can exchange your item for a different size, color, or product of equal value. If the new item costs more, you will be responsible for paying the price difference.<br></div>

        <h3 class="text-muted">Additional Information</h3>
        <div class="row_unit"><span class="text_semibold">Damaged or Defective Items:</span> If you receive a damaged or defective item, please contact us immediately.<br></div>
        <div class="row_unit"><span class="text_semibold">Return Shipping:</span> While we do not cover the cost of return shipping for standard returns, we may provide a prepaid return label for defective or incorrect items.<br></div>
        <div class="row_unit"><span class="text_semibold">Refund Status:</span> Once your refund is processed, you will receive an email notification. Please allow 3-5 business days for the refund to reflect on your bank or credit card statement.<br></div>
    </div>
    
    <a href="/policies" class="all_policies" th:if="${currentPage != 'policiesPage'}">All Information →</a>

</section>