<div th:if="${currentPage} == 'treatmentsPage'"
     class="modal fade modal_container"
     id="newTreatmentModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Treatment</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body modal_body">
                <form th:action="@{/treatments/newTreatment}"
                      th:method="post"
                      th:object="${newTreatmentDto}"
                      enctype="multipart/form-data"
                      id="newTreatmentForm">
                    <div class="mb-3 input_unit">
                        <label for="treatment_name" class="field_label col-form-label ">Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="name"
                               id="treatment_name"
                               th:errorclass="is-invalid"
                               th:field="*{name}">

                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
                            <small class="d-block bg-danger text-light rounded mt-1 modal_result"
                                   th:text=" ${#fields.errors('name').getFirst()}">
                            </small>
                        </div>
                    </div>
                    <div class="mb-3 input_unit">
                        <label for="treatment_description"
                               class="field_label col-form-label">Description</label>
                        <textarea type="text"
                                  placeholder="description"
                                  class="form-control "
                                  id="treatment_description"
                                  rows="5"
                                  th:field="*{description}"></textarea>
                    </div>
                    
                    <div class="mb-3 input_unit">
                        <label for="treatment_price" class="field_label col-form-label">Price</label>
                        <input type="number"
                               name="price"
                               class="form-control"
                               placeholder="price"
                               id="treatment_price"
                               th:errorclass="is-invalid"
                               th:field="*{price}">

                        <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
                            <small class="d-block bg-danger text-light rounded mt-1 modal_result"
                                   th:text=" ${#fields.errors('price').getFirst()}">
                            </small>
                        </div>
                    </div>
                    
                    <div class="mb-3 input_unit">
                        <label for="treatment_image" class="field_label col-form-label">Chose an
                            image</label>
                        <input type="file"
                               name="image"
                               step="0.01"
                               class="form-control"
                               id="treatment_image"
                               accept="image/*"
                               th:field="*{image}">
                        
                        <div th:if="${#fields.hasErrors('image')}" class="invalid-feedback">
                            <small class="d-block bg-danger text-light rounded mt-1 modal_result"
                                   th:text=" ${#fields.errors('image').getFirst()}">
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">Close
                </button>
                <button type="button" class="btn btn-primary" onclick="submitNewTreatmentForm()">New Treatment</button>
            </div>
        </div>
    </div>
</div>
