<div
        class="modal fade modal_container"
        id="success_reset_password_email_sent"
        tabindex="-1"
        aria-hidden="true">
    <div class="modal-dialog modal_dialog">

        <div class="modal-content">
            <div class="modal-header">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M480-462.92 142.39-686.39v450.7q0 5.38 3.46 8.84t8.84 3.46h386.62V-165H84v-630h792v383.31h-58.39v-274.7L480-462.92Zm0-58.7 331.46-214.99H148.54L480-521.62ZM772.46-50.08l-40.61-40.61L805.77-165H599v-58.39h207.15l-75.3-75.3 41.61-40.62 144.62 144.62L772.46-50.08ZM142.39-686.39V-178.39-411.69v4.54V-736.61v50.22Z"/></svg>
                <h1 class="modal-title fs-5" >Reset Password Email Sent</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body modal_body">
                <h1 class="text_confirmation">Hi there,<span class="name_owner"></span></h1>
                <p class="text_confirmation">An email to reset your password has been sent to your email address. <br> Please check your inbox.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success"  data-dismiss="modal">Okay</button>
            </div>

        </div>
    </div>
</div>