<section class="testimonials_section" xmlns:th="http://www.thymeleaf.org">
    <h2 th:if="${currentPage == 'homePage'}">Hear from Our <span>Clients</span></h2>
    <h2 th:if="${currentPage != 'homePage'}">Our <span>Clients</span></h2>
    <div class="subtitle">We are dedicated to offering the highest quality dental care to our patients. Read on to hear what our clients have to say about their experiences with us.
    </div>

    <div class="testimonials_container">

        <div class="testimonial_card" th:each="testimonial : ${allTestimonials}">
            <div class="author_review">
                <img class="img_quote quote_start" th:src="${testimonial.getQuoteStartImageUrl()}" alt="">
                <p th:text="${testimonial.getContent()}"></p>
                <img class="img_quote quote_end" th:src="${testimonial.getQuoteEndImageUrl()}" alt="">
            </div>
            <div class="author_details">
                <img class="author_image" th:src="${testimonial.getAuthorImageUrl()}" alt="">
                <div class="author-info">
                    <div class="stars">
                        <span th:each="star : ${testimonial.getStars()}" th:text="'★'"></span>
                    </div>
                    <h3 class="author_name" th:text="${testimonial.getAuthorFirstName()}"></h3>
                </div>
            </div>
        </div>
    </div>
    <a href="/testimonials" class="all_units" th:if="${currentPage == 'homePage'}">All Testimonials →</a>
</section>