<section class="treatmentSection"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h2 th:if="${currentPage == 'homePage'}">Some of our <span>Treatments</span></h2>
    <h2 th:if="${currentPage != 'homePage'}">Our <span>Treatments</span></h2>
    <div class="subtitle">From routine cleanings and preventive care to advanced restorative and cosmetic
        procedures,
        our dedicated team is committed to providing exceptional care tailored to your individual needs.
    </div>

    <div class="treatment_container">


        <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'DENTIST', 'DENTAL_ASSISTANT')"
           th:if="${currentPage} == 'treatmentsPage'"
           class="treatment_unit new_treatment d-flex flex-column justify-content-center align-items-center"
           data-toggle="modal"
           data-target="#newTreatmentModal"
           href="/treatments/newTreatment">

            <svg class="treatment_icon new_icon" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 64.42 63.848">
                <g id="Layer_1-2" data-name="Layer 1-2">
                    <g id="_183_Twitter_Add_Contact" data-name=" 183 Twitter Add Contact">
                        <g>
                            <path d="m32.26,44.949c-.71,0-1.31-.6-1.31-1.3v-23.7c0-.7.61-1.3,1.31-1.3s1.31.6,1.31,1.3v23.8c0,.6-.61,1.2-1.31,1.2Z"
                                  stroke-width="0"/>
                            <path d="m44.28,33.049h-24.04c-.71,0-1.31-.6-1.31-1.3s.61-1.3,1.31-1.3h24.04c.71,0,1.31.6,1.31,1.3-.1.8-.61,1.3-1.31,1.3Z"
                                  stroke-width="0"/>
                            <path d="m32.26,58.149c-6.77,0-13.53-2.6-18.78-7.7-10.31-10.2-10.31-26.9,0-37.1,10.3-10.2,27.17-10.2,37.47,0,10.3,10.2,10.3,26.9,0,37.1h0c-5.15,5.2-11.92,7.7-18.68,7.7h-.01Zm0-49.9c-6.16,0-12.32,2.3-16.97,6.9-9.39,9.3-9.39,24.3,0,33.6,9.39,9.3,24.54,9.3,33.93,0s9.39-24.3,0-33.6c-4.65-4.6-10.81-6.9-16.97-6.9h.01Z"
                                  stroke-width="0"/>
                        </g>
                    </g>
                </g>
            </svg>
            <h2 class="treatment_title">New Treatment</h2>
        </a>


        <th:block th:include="~{fragments/popups/add-treatment}"></th:block>

        <div class="treatment_unit" th:each="treatment : ${allTreatments}">
            <a href="#" class="unit_link"></a>
            <img class="treatment_icon" th:src="${treatment.getImage().getUrl()}" alt="">

            <form sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'DENTIST', 'DENTAL_ASSISTANT')"
                  th:if="${currentPage} == 'treatmentsPage'"
                  id="deleteForm"
                  th:method="delete"
                  th:action="@{/treatments/{id}(id=${treatment.getId()})}">
              
                <button type="button" onclick="getDeleteForm(this)" class="delete_icon">
                   
                    <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                         fill="#000000">
                        <path d="M369.46-317.46 481-430.23l112.54 112.77 32.92-33.16-111.54-112.76 111.54-113.54-32.92-33.16L481-497.31 369.46-610.08l-33.92 33.16 112.54 113.54-112.54 112.76 33.92 33.16ZM225.23-144v-591.85H185v-43.77h168.15v-30.15h254.7v30.15H776v43.77h-40.23V-144H225.23ZM269-187.77h423v-548.08H269v548.08Zm0-548.08v548.08-548.08Z"/>
                    </svg>
                </button>
            </form>
            <button sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'DENTIST', 'DENTAL_ASSISTANT')"
                    th:if="${currentPage} == 'treatmentsPage'"
                    th:data-id="${treatment.getId()}" class="edit_icon" onclick="getEditForm(this)">
              
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
                     fill="#000000">
                    <path d="M160-160v-640h412.69l-30.77 30.77H190.77v578.46h578.46v-356.46L800-578v418H160Zm320-320Zm-80 80v-104.62l386.31-386.3 104.15 100.77L500.77-400H400Zm444.92-388.85L787.85-849l57.07 60.15ZM430.77-430.77h57.31l276.07-276.08-28.38-28.92-31.46-29.69-273.54 273.31v61.38Zm305-305-31.46-29.69 31.46 29.69 28.38 28.92-28.38-28.92Z"/>
                </svg>

            </button>

            <h2 class="treatment_title" th:text="${treatment.getName()}"></h2>
            <div class="treatment_description">
                <p th:text="${treatment.getDescription()}"></p>
            </div>
        </div>


        <th:block th:include="~{fragments/popups/edit-treatment}"></th:block>
        <th:block th:include="~{fragments/popups/failure}"></th:block>
        <th:block th:include="~{fragments/popups/confirm-delete}"></th:block>
        <th:block th:include="~{fragments/popups/success}"></th:block>

    </div>

    <a href="/treatments" class="all_units" th:if="${currentPage == 'homePage'}">All Treatments →</a>

</section>