html, body {
    margin: 0 auto;
    padding: 0;
}

.window_foreground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -3;
}

.background_window {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -4;
    opacity: 0.1;
    min-width: 100%;
    min-height: 100%;

}


.background_window image {
    filter: invert(100%);
}


