.all_terms_and_conditions_title {
    font-family: 'Bacasime Antique', sans-serif;
    text-transform: uppercase;
    margin: 3rem auto 3rem;
    text-align: center;
}
.all_terms_and_conditions_title h1 {
    font-weight: 600;
    font-size: 3em;
    letter-spacing: 3px;
}

.policy_section {
    max-width: 1200px;
    text-align: center;
    padding: 20px 40px;
    margin: 30px auto 10px;
    background-color: var(--w_tone-white);
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--w_tone-gray);
}

.policy_section h2 {
    padding-top: 1em;
    padding-bottom: 0.2em;
    font-size: 3em;
    color: var(--w_black);
}

.policy_section h2 span {
    color: var(--w_ocean);
}

.policy_section .subtitle {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--w_black);
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

.policy_unit {
    margin: 0 auto 2rem;
    padding: 3rem;
    max-width: 1000px;
    background: var(--w_tone-white);
    text-align: left;
    cursor: auto;
    border-radius: 10px;
    box-shadow: var(--w_shadow-gray);
    
}

.policy_section h3 {
    font-family: 'Fredoka', serif;
    padding: 1.3em 0 1em;
    
}

.row_unit {
    padding-top: 0.7em;
    font-family: 'Fredoka', serif;
    color: var(--w_black);
    font-weight: 350;
}

.text_semibold {
    font-weight: 450;
    font-size: 1.2em;
}

a[class="all_policies"] {
    font-size: 1rem;
    display: block;
    color: var(--w_black);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease;

}

@media screen and (max-width: 500px){
    .policy_section {
        padding: 0;
        margin: 0;
    }
}