
#reset_password_modal .modal-header svg {
    margin:-0.3em 0.5em -0.3em 0;
    width: 3em;
    height: auto;
    fill: var(--w_warning);
    stroke-width: -0.2em;
}

#reset_password_modal .text_prompt {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 350;
    max-width: 400px;
    color: var(--w_black);
    text-align: start;
    font-size: 1em;
    margin-top: 0.5em;
}

#reset_password_modal .modal_body {
    padding: 1.3em 1.3em;
    text-align: left;
    display: grid;
    gap: 0;
    align-items: center;
}