
#success_reset_password_email_sent .modal-header svg {
    margin:-0.3em 0.5em -0.3em 0;
    width: 3em;
    height: auto;
    fill: var(--w_ocean);
    stroke-width: -0.2em;
}

#success_reset_password_email_sent .modal_body {
    padding: 1.3em 0.4em;
    text-align: left;
    display: grid;
    gap: 0;
    align-items: center;
}

#success_reset_password_email_sent .modal_body > :last-child {
    margin-bottom: 0 !important;
}


#success_reset_password_email_sent .modal_body h1 {
    margin: 0 0 16px 16px;
    font-size: 1.5em;
}


#success_reset_password_email_sent .text_confirmation {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 350;
    max-width: 400px;
    color: var(--w_black);
    text-align: start;
    font-size: 1em;
    margin-left: 1em;
}


#success_reset_password_email_sent .text_confirmation span.name_owner {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: var(--w_ocean);
}


#success_reset_password_email_sent .modal-footer {
    /*padding: 16px;*/
}
