<section class="info_section" xmlns:th="http://www.thymeleaf.org">
    <h2>Shipping <span>Information</span> </h2>
    <div class="subtitle">Fast and Reliable Shipping to Your Doorstep</div>
    
    <div class="info_unit">
        <h3 class="text-muted">Domestic Shipping:</h3>
        <div class="row_unit"><span class="text_semibold">Standard Shipping:</span> Orders are processed within 1-2 business days and delivered within 5-7 business days. Shipping is free for orders over $50.<br></div>
        <div class="row_unit"><span class="text_semibold">Express Shipping:</span> Need it faster? Choose our express shipping option to receive your order within 2-3 business days. Additional charges apply.<br></div>
        <div class="row_unit"><span class="text_semibold">Overnight Shipping:</span> For urgent needs, we offer overnight shipping to ensure your package arrives the next business day. Please place your order before 12 PM for same-day processing.<br></div>
        <h3 class="text-muted">International Shipping:</h3>
        <div class="row_unit"><span class="text_semibold">Standard International Shipping:</span> Delivery times vary by destination, typically taking 10-20 business days. Import duties and taxes may apply.<br></div>
        <div class="row_unit"><span class="text_semibold">Expedited International Shipping:</span> Faster delivery options are available for an additional fee, with typical delivery times of 5-10 business days.<br></div>
        <h3 class="text-muted">Additional Information:</h3>
        <div class="row_unit"><span class="text_semibold">Order Tracking:</span> Once your order is shipped, you will receive a confirmation email with tracking information. You can monitor the status of your shipment in real-time.<br></div>
        <div class="row_unit"><span class="text_semibold">Shipping Costs:</span> Shipping costs are calculated at checkout based on the weight and destination of your order.<br></div>
        <div class="row_unit"><span class="text_semibold">Packaging:</span> We take great care in packaging your items to ensure they arrive in perfect condition. If your order arrives damaged, please contact our customer service team within 48 hours.<br></div>
        <div class="row_unit"><span class="text_semibold">Returns and Exchanges:</span> If you are not satisfied with your purchase, we offer a hassle-free return and exchange policy. Please refer to our Returns and Exchanges page for more details.<br></div>
    </div>

    <a href="/info" class="all_info" th:if="${currentPage != 'infoPage'}">All Information →</a>
    
</section>