<div th:if="${currentPage} == 'treatmentsPage'"
     class="modal fade modal_container"
     id="success"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body modal_body">

                <div class="modal-body modal_body">
                    <img th:src="@{images/icons/success.svg}" alt="">
                    <div class="text_success font-weight-bold mt-2 p-1"> Success</div>
                </div>

                <div class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>
