<section class="team_section">
    <h2>Our <span>Expert</span> Dental Team</h2>

    <div class="subtitle">Meet the dedicated professionals behind your healthy smile. Our team combines years of experience with a passion for dental care to provide you with the best service possible.</div>
    <div class="team_container">

        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/dr_Cassandra.png}" alt="">

            <div class="details_member">
                <div class="member_name">Cassandra</div>
                <div class="member_role">dentist</div>
            </div>
        </div>
        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/dr_James.png}" alt="">

            <div class="details_member">
                <div class="member_name">James</div>
                <div class="member_role">dentist</div>
            </div>
        </div>
        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/da_Evelyn.png}" alt="">

            <div class="details_member">
                <div class="member_name">Evelyn</div>
                <div class="member_role">dental assistant</div>
            </div>
        </div>
        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/dr_Sophia.png}" alt="">

            <div class="details_member">
                <div class="member_name">Sophia</div>
                <div class="member_role">dentist</div>
            </div>
        </div>
        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/dr_Isabella.png}" alt="">

            <div class="details_member">
                <div class="member_name">Isabella</div>
                <div class="member_role">dentist</div>
            </div>
        </div>
        <div class="member_unit">
            <img class="member_img" th:src="@{images/profile/da_Daniel.png}" alt="">

            <div class="details_member">
                <div class="member_name">Daniel</div>
                <div class="member_role">dental assistant</div>
            </div>
        </div>
    </div>


    <a class="all_treatments">All Members →</a>
</section>