<section class="team_section" xmlns:th="http://www.thymeleaf.org">
    <h2 th:if="${currentPage == 'homePage'}">Some of our <span>Expert</span> Dental Team</h2>
    <h2 th:if="${currentPage != 'homePage'}">Our <span>Expert</span> Dental Team</h2>

    <div class="subtitle">Meet the dedicated professionals behind your healthy smile. Our team combines years of
        experience with a passion for dental care to provide you with the best service possible.
    </div>
    <div class="team_container">

        <div class="member_unit" th:each="member : ${allTeamMembers}">
            <img class="member_img" th:src="${member.getPictureUrl()}" alt="">
            <div class="details_member">
                <div class="member_name" th:text="${member.getFirstName()}"></div>
                <div class="member_role" th:text="${member.getRoles().getFirst()}"></div>
            </div>
        </div>

    </div>


    <a href="/team" class="all_members" th:if="${currentPage == 'homePage'}">All Members →</a>

</section>