<section class="testimonials_section">
    <h2>Hear from Our <span>Clients</span></h2>
    <div class="subtitle">We are dedicated to offering the highest quality dental care to our patients. Read on to hear what our clients have to say about their experiences with us.
    </div>

    <div class="testimonials_container">
        <div class="testimonial_card">
            <div class="author_review">
                <img class="img_quote quote_start" th:src="@{images/icons/quotes_white_start.svg}" alt="">
                <p>Fantastic experience! The clinic is <br> state-of-the-art and the staff are extremely professional and caring. <br> I highly recommend them.
                </p>
                <img class="img_quote quote_end" th:src="@{images/icons/quotes_white_end.svg}" alt="">
            </div>
            <div class="author_details">
                <img class="author_image" th:src="@{images/profile/Yanica_img.png}" alt="">
                <div class="author-info">
                    <div class="stars">★★★★★</div>
                    <h3 class="author_name">Yanica</h3>
                </div>
            </div>
        </div>
        <div class="testimonial_card">
            <div class="author_review">
                <img class="img_quote quote_start"  th:src="@{images/icons/quotes_white_start.svg}" alt="">
                <p>From the moment I walked in, I felt welcomed and comfortable. <br> The staff explained everything clearly and the service was top-notch.</p>
                <img class="img_quote quote_end" th:src="@{images/icons/quotes_white_end.svg}" alt="">
            </div>
            <div class="author_details">
                <img class="author_image" th:src="@{images/profile/Emma_img.png}" alt="">
                <div class="author-info">
                    <div class="stars">★★★★★</div>
                    <h3 class="author_name">Emma</h3>
                </div>
            </div>
        </div>
        <div class="testimonial_card">
            <div class="author_review">
                <img class="img_quote quote_start" th:src="@{images/icons/quotes_white_start.svg}" alt="">
                <p>I was nervous about my procedure, <br> but the team was so reassuring and gentle. <br> The results exceeded my expectations. Thank you!</p>
                <img class="img_quote quote_end" th:src="@{images/icons/quotes_white_end.svg}" alt="">
            </div>
            <div class="author_details">
                <img class="author_image" th:src="@{images/profile/Kale_img.png}" alt="">
                <div class="author-info">
                    <div class="stars">★★★★★</div>
                    <h3 class="author_name">Kale</h3>
                </div>
            </div>
        </div>
    </div>
    <a class="all_testimonials">All Testimonials →</a>
</section>