<section class="treatmentSection" xmlns:th="http://www.thymeleaf.org">
    <h2 th:if="${currentPage == 'homePage'}">Some of our <span>Treatments</span></h2>
    <h2 th:if="${currentPage != 'homePage'}">Our <span>Treatments</span></h2>
    <div class="subtitle">From routine cleanings and preventive care to advanced restorative and cosmetic procedures,
        our dedicated team is committed to providing exceptional care tailored to your individual needs.
    </div>
    
    

    <div class="treatment_container">
        <!--        th:each="role : ${@userSession.getRoles()}"-->
        <!--        th:if="${role.getName().toString().equals('DENTAL_ASSISTANT')} or ${role.getName().toString().equals('DOCTOR')} or ${role.getName().toString().equals('MANAGER')} or ${role.getName().toString().equals('ADMIN')} and ${currentPage == 'treatmentsPage'}"-->


        <a
                th:if="${currentPage == 'treatmentsPage'}"
                class="treatment_unit d-flex flex-column justify-content-center align-items-center"
                data-toggle="modal"
                data-target="#newTreatmentModal"
                href="/treatments/newTreatment">
            <img class="treatment_icon m-0"
                 th:src="@{/images/icons/add_new.svg}"
                 width="80"
                 height="80"
                 alt="">
            <h2 class="treatment_title">New Treatment</h2>
        </a>

        <th:block th:include="~{fragments/addTreatment}"></th:block>

        <a class="treatment_unit" href="#" th:each="treatment : ${allTreatments}">
            <img class="treatment_icon" th:src="${treatment.getImageUrl()}" alt="">
            <h2 class="treatment_title" th:text="${treatment.getName()}"></h2>
            <div class="treatment_description">
                <p th:text="${treatment.getDescription()}"></p>
            </div>
        </a>

        <th:block th:include="~{fragments/success}"></th:block>

    </div>

    <a href="/treatments" class="all_treatments" th:if="${currentPage == 'homePage'}">All Treatments →</a>
</section>