
/*-----------   register   -----------*/

.registration_form {
    background-color: rgba(255, 255, 255, 0.63);
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-height: 75dvh;
    
    
}

.registration_form small {
    font-family: 'Fredoka', sans-serif;
    
    padding: 5px;
    font-size: 0.8rem;
}

/*-----------   login   -----------*/

.login_form {
    background-color: rgba(255,255,255,0.63);
    max-width: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 75dvh;
}

.login_form small {
    font-family: 'Fredoka', sans-serif;
    padding: 5px 5px;
    font-size: 0.9rem;
    color: #f5f5f5;
    letter-spacing: 0.025em;
}