
#success .modal_body img {
    width: 90px;
}

#success .text_success{
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
    color: #08bd08;
    font-size: 3.5em;
    letter-spacing: 0.05em;
}