
.treatmentSection {
    max-width: 1200px;
    text-align: center;
    padding: 20px 40px;
    margin: 30px auto 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.treatmentSection h2 {
    padding-top: 1em;
    padding-bottom: 0.2em;
    font-size: 3em;
    color: #333;
}

.treatmentSection h2 span {
    color: #4a90e2;
}

.treatmentSection .subtitle {
    font-size: 1rem;
    line-height: 1.5;
    color: #5a6268;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 0.5em;
}

.treatment_container {
    display: grid;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 1.5em auto;


    .treatment_unit {
        background: rgba(255, 255, 255, 0.3);
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        transition: 0.4s ease;
        position: relative;
        overflow: hidden;
    }


    .treatment_unit:hover {
        transform: scale(101%);
        background: white;
        box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #4A90E2;
    }


    .treatment_unit:hover p {
        color: black;
    }


    .treatment_icon {
        width: auto;
        height: 60px;
        margin: auto;
    }


    .treatment_title {
        color: #4a90e2;
        font-size: 1.5em;
        margin: 0 auto 1rem;
    }


    .treatment_unit .treatment_description {
        color: #545b62;
    }


    a {
        display: block;
        text-decoration: none;
    }
}

a[class="all_treatments"] {
    display: inline-block;
    font-size: 1.1rem;
    color: #5a6268;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease;

}

a[class="all_treatments"]:hover {
    color: #4a90e2;
    transform: scale(105%);
}

.delete_icon_img {
    width: 40px;
    height: auto;
}

.unit_link {
    position: absolute;
    background: transparent;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}

.delete_icon {
    border-radius: 50%;
    
    position: absolute;
    top: 10px;
    right: 10px;
    overflow: hidden;
    transition: 0.3s ease;
}

.delete_icon:hover {
    border: 1px solid red;
    box-shadow: 0 0 10px #ff0000;
    transform: scale(105%);
}

