<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{/fragments/head}"></th:block>

<body>
<th:block th:include="~{/fragments/navigation}"></th:block>

<th:block th:include="~{fragments/hero_background}"></th:block>

<th:block th:include="~{/fragments/window_background}"></th:block>

<th:block th:include="~{/fragments/hero}"></th:block>

<th:block th:include="~{fragments/treatmentsSection}"></th:block>

<th:block th:include="~{fragments/teamSection}"></th:block>

<th:block th:include="~{fragments/testimonialsSection}"></th:block>

<th:block th:include="~{/fragments/footer}"></th:block>

</body>
</html>