<!DOCTYPE html>
<html lang="en">
<th:block th:include="~{/fragments/head}"></th:block>
<body>

<nav th:replace="~{/fragments/navs/navGuest}"></nav>

<th:block th:include="~{/fragments/backGround}"></th:block>

<form style="background-color: rgba(255,255,255,0.63); max-width: 400px; margin: 0 auto">
    <div class="container justify-content-center align-items-center border border-1 border-info rounded-4 my-md-5 p-4 "
         style="">
        <h1 class="text-secondary mb-3" style="flex-shrink: 1">Log in to your profile</h1>
        <div class="form-group py-2">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                   placeholder="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone elsel
            </small>
        </div>

        <div class="form-group py-2 mb-3">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="password"
                   aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">It has never been safer.
            </small>
        </div>

        <div class="row justify-content-start align-items-center">
            <div class="col-4">
                <button type="submit" class="btn btn-md btn-primary">Log in</button>
            </div>
            <div class="form-group form-check col-5 ">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
        </div>
    </div>
</form>

<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>

