<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div style="max-width: 1000px;
            font-family: 'Fredoka', sans-serif;
            color: #545b62">
    <header>
        <h1 style="margin: 0.1em 0 0 0">Password Reset Request</h1>
    </header>
    <main style="margin: 0.3em 0">
        <h2 style="display: inline-block; margin: 0.5em 0 0.5em">Hello</h2>
        <h1 style="color: #4A90E2; display: inline-block; margin: 0.5em 0 0.5em 0.2em" th:text="${userReset.getFirstName()}"></h1>
        <h2 style="display: inline">,</h2>
        <p style="margin: 0.3em 0">We received a request to reset your password. Click the link below to reset it:</p>
        <a style="color: #4A90E2; text-decoration: none; font-family: 'Fredoka', sans-serif; font-size: 1.2em" th:href="@{http://localhost:8080/reset-password/{token}(token=${token})}" class="button">Reset Password</a>
    </main>
    <footer style="margin: 0.3em 0">
        <p style="margin: 0.3em 0">If you didn't request a password reset, please ignore this email. Your password will not be changed.</p>
        <p style="margin: 0.3em 0"><br>Best regards,</p>
        <p style="margin: 0.3em 0">The Dental Care Team</p>
    </footer>
</div>
</body>
</html>