<div class="modal fade modal_container"
     id="reset_password_modal"
     tabindex="-1"
     aria-labelledby="resetPasswordModal"
     aria-hidden="true">
    <div class="modal-dialog modal_dialog">
        <div class="modal-content">
            <div class="modal-header">
                <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M156-149v-73h127l-8-6q-64-54-94-114t-30-136q0-111 66.5-199.5T392-796v76q-76 28-122 94.5T224-478q0 60 21.5 105t58.5 77l26 17v-117h73v247H156Zm413-14v-77q77-27 122.5-94T737-483q0-44-22.5-92T658-659l-25-22v117h-73v-247h247v73H679l8 8q62 57 92.5 122T810-483q0 112-66.5 200.5T569-163Z"/></svg>
                <h1 class="modal-title fs-5" id="resetPasswordModal">Reset Password</h1>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body modal_body">
                <h1 class="text_confirmation">Hi there,<span class="name_owner"></span></h1>
                <p class="text_prompt">Enter a new password to reset the password on your account. <br> We will ask for
                    this password whenever you log in.
                </p>

                <form
                        th:method="post"
                        th:action="@{/reset-password}"
                        th:object="${resetPasswordDto}"
                        id="reset_password_form">

                    <input type="hidden"
                           name="token"
                           class="token"
                           th:field="*{token}">

                    <div class="form-floating mb-3 password_field">
                        <input type="password"
                               name="password"
                               class="form-control"
                               id="floating_password"
                               placeholder="password"
                               th:field="*{password}"
                               th:errorclass="is-invalid">
                        <label for="floating_password">Password</label>
                        
                        <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                            <small class="d-inline-block bg-danger text-light rounded mt-1 reset_results"
                                   th:text=" ${#fields.errors('password').getFirst()}">
                            </small>
                        </div>
                    </div>


                    <div class="form-floating mb-3 password_field">
                        <input type="password"
                               name="confirmPassword"
                               class="form-control"
                               id="floating_confirm_password"
                               placeholder="Confirm password"
                               th:field="*{confirmPassword}"
                               th:errorclass="is-invalid">
                        <label for="floating_confirm_password">Confirm password</label>
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <small class="d-inline-block bg-danger text-light rounded mt-1 reset_results"
                                   th:each="error : ${#fields.globalErrors()}"
                                   th:if="${error.toString().equals('Oops! Your passwords do not match.')}"
                                   th:text="${error}">
                            </small>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="close btn btn-secondary" data-dismiss="modal" aria-label="Close">Close
                </button>
                <button type="button" class="btn btn-primary" id="forgot_password_form_button"
                        onclick="resetPasswordFormSend()">Send
                </button>
            </div>
        </div>
    </div>
</div>
