<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{/fragments/head}"></th:block>
<body>

<th:block th:include="~{/fragments/navigation}"></th:block>
<th:block th:include="~{/fragments/window-background}"></th:block>

<form th:action="@{/register}"
      th:method="post"
      th:object="${registerDto}"
      class="registration_form">
    <div id="form_register_container" class=" container justify-content-center form_container align-items-center">
        <h2 class="text-secondary pb-3" th:text="#{register.title}">Make a registration</h2>

        <div class="row flex-wrap">

            <div class="col-6 ">

                <div class="form-floating mb-3">
                    <input type="text"
                           class="form-control"
                           id="floating_first_name"
                           name="firstName"
                           placeholder="First Name"
                           th:errorclass="is-invalid"
                           th:field="*{firstName}">
                    <label for="floating_first_name"th:text="#{placeholder.first.name}">First Name</label>

                    <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback">
                        <small class="d-inline-block bg-danger text-light rounded mt-1"
                               th:text=" ${#fields.errors('firstName').getFirst()}">
                        </small>
                    </div>
                </div>
            </div>


            <div class="col-6">

                <div class="form-floating mb-3">
                    <input type="text"
                           name="lastName"
                           class="form-control"
                           id="floating_last_name"
                           placeholder="Last Name"
                           th:errorclass="is-invalid"
                           th:field="*{lastName}">

                    <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback">
                        <small class="d-inline-block bg-danger text-light rounded mt-1"
                               th:text=" ${#fields.errors('lastName').getFirst()}">
                        </small>
                    </div>

                    <label for="floating_last_name" th:text="#{placeholder.last.name}">Last Name</label>
                </div>
            </div>
        </div>


        <div class="form-floating mb-3">
            <input type="email"
                   class="form-control"
                   name="email"
                   id="floating_email_address"
                   placeholder="Email"
                   th:errorclass="is-invalid"
                   th:field="*{email}">
            <label for="floating_email_address" th:text="#{placeholder.email}">Email</label>

            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                <small class="d-inline-block bg-danger text-light rounded mt-1"
                       th:text=" ${#fields.errors('email').getFirst()}">
                </small>
            </div>

        </div>


        <div class="form-floating mb-3 password_field">
            <input type="password"
                   name="password"
                   class="form-control"
                   id="floating_password"
                   placeholder="password"
                   th:errorclass="is-invalid"
                   th:field="*{password}">
            <label for="floating_password" th:text="#{placeholder.password}">Password</label>
            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                <small class="d-inline-block bg-danger text-light rounded mt-1"
                       th:text=" ${#fields.errors('password').getFirst()}">
                </small>
            </div>
        </div>


        <div class="form-floating mb-3 password_field">
            <input type="password"
                   name="confirmPassword"
                   class="form-control"
                   id="floating_confirm_password"
                   placeholder="Confirm password"
                   th:field="*{confirmPassword}">
            <label for="floating_confirm_password" th:text="#{placeholder.confirm.password}">Confirm password</label>
            <div th:if="${#fields.hasGlobalErrors()}">
                <small class="d-inline-block bg-danger text-light rounded mt-1"
                       th:each="error : ${#fields.globalErrors()}"
                       th:if="${error.toString().equals('Oops! Your passwords do not match.') || error.toString().equals('Паролите ви не съвпадат.')}"
                       th:text="${error}">
                </small>
            </div>
        </div>
        
        
            <button  th:type="submit" th:name="submit" th:value="true" data-mdb-button-init data-mdb-ripple-init
                    class="register_btn btn btn-primary" th:text="#{register.button}">Register
            </button>
        

    </div>
</form>

<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>