<section class="policy_section" xmlns:th="http://www.thymeleaf.org">
    <h2>Payments <span>Information</span> </h2>
    <div class="subtitle">Secure and Convenient Payment Options</div>

    <div class="policy_unit">
        <h3 class="text-muted">Accepted Payment Methods</h3>
        <div class="row_unit"><span class="text_semibold">Credit/Debit Cards:</span> We accept all major credit and debit cards, including Visa, Mastercard, American Express, and Discover.<br></div>
        <div class="row_unit"><span class="text_semibold">PayPal:</span> Use your PayPal account for a quick and secure checkout experience.<br></div>
        <div class="row_unit"><span class="text_semibold">Apple Pay:</span> Pay with Apple Pay for a seamless payment process on supported devices.<br></div>
        <div class="row_unit"><span class="text_semibold">Google Pay:</span> Enjoy a fast and hassle-free checkout with Google Pay on compatible devices.<br></div>

        <h3 class="text-muted">Payment Security</h3>
        <div class="row_unit"><span class="text_semibold">SSL Encryption:</span> Our website is secured with SSL encryption to ensure that your payment information remains confidential and protected.<br></div>
        <div class="row_unit"><span class="text_semibold">Fraud Prevention:</span> We employ advanced fraud detection measures to safeguard against unauthorized transactions and protect your personal information.<br></div>

        <h3 class="text-muted">Billing and Invoicing</h3>
        <div class="row_unit"><span class="text_semibold">Order Confirmation:</span> After placing your order, you will receive an order confirmation email with details of your purchase and payment.<br></div>
        <div class="row_unit"><span class="text_semibold">Invoices:</span> If you require an invoice for your order, please contact our customer service team, and we will be happy to provide one.<br></div>

        <h3 class="text-muted">Payment Processing</h3>
        <div class="row_unit"><span class="text_semibold">Authorization:</span> Your payment will be authorized and processed as soon as you complete your order.<br></div>
        <div class="row_unit"><span class="text_semibold">Payment Confirmation:</span> Once your payment is successfully processed, you will receive a payment confirmation email, and your order will be processed for shipment.<br></div>
    </div>

    <a href="/policies" class="all_policies" th:if="${currentPage != 'policiesPage'}">All Information →</a>

</section>